.asset-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25%;
  height: 300px;
  border-radius: 12px;
  display: inline-block;
  margin: 10px;
  align-content: space-between;
  overflow: hidden;
  position: relative;
  padding: 0.5em;
}

.asset-card:hover {
  cursor: pointer;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
}

.asset-card h5 {
    text-overflow: ellipsis;
    max-height: 10px;
}

.asset-card img {
  width: 95%;
  height: 75%;
}
