.asset-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    height: 300px;
    border-radius: 12px;
    display: inline-block;
    margin: 10px;
    align-content: space-between;
}

.asset-card:hover {
    cursor: pointer;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.asset-card img {
    width: 90%;
    height: 70%
}



