.search-box {
  width: 300px;
  height: 30px;
  border-radius: 8px;

}

.search-button {
  background-color: gray;
  border-radius: 8px;
  height: 30px;
  width: 60px;
}

.search-button:hover {
    cursor: pointer
}