.assetDetail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.assetDetail-wrapper img {
  display: block;
  width: auto;
  height: 400px;
  padding: 20px;
}

.assetDetail-wrapper p {
  line-height: 1.5em;
  text-align: center;
  padding: 10px;
}

.assetDetail-wrapper button {
  padding: 10px;
  margin: 5px;
}
.assetDetail-wrapper button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
